EliteCSM-new/Applications/aaasmx/webroot/WEB-INF/wsdl/SessionManagerWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.elitesm.elitecore.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.elitesm.elitecore.com" xmlns:intf="http://ws.elitesm.elitecore.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.elitesm.elitecore.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="findSessionByIPAddress">
    <complexType>
     <sequence>
      <element name="ipAddress" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findSessionByIPAddressResponse">
    <complexType>
     <sequence>
      <element name="findSessionByIPAddressReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findSessionByIPAddressResponse">

      <wsdl:part element="impl:findSessionByIPAddressResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findSessionByIPAddressRequest">

      <wsdl:part element="impl:findSessionByIPAddress" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SessionManagerWS">

      <wsdl:operation name="findSessionByIPAddress">

         <wsdl:input message="impl:findSessionByIPAddressRequest" name="findSessionByIPAddressRequest">

       </wsdl:input>

         <wsdl:output message="impl:findSessionByIPAddressResponse" name="findSessionByIPAddressResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SessionManagerWSSoapBinding" type="impl:SessionManagerWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findSessionByIPAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findSessionByIPAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findSessionByIPAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SessionManagerWSService">

      <wsdl:port binding="impl:SessionManagerWSSoapBinding" name="SessionManagerWS">

         <wsdlsoap:address location="http://localhost:8080/aaasmx/services/SessionManagerWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
