EliteCSM-new/Applications/netvertexsm/webroot/WEB-INF/bns_schema.xsd

<?xml version="1.0"?> <!-- External Notification Feature -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:BNS_schema="http://telcordia.com/cvas/rcs/ex/schemas/ESBNSNameSpace/v1_0" targetNamespace="http://telcordia.com/cvas/rcs/ex/schemas/ESBNSNameSpace/v1_0" elementFormDefault="qualified"> <xsd:element name="ESBNSNotification" type="BNS_schema:ESBNSNotificationType"/> <xsd:complexType name="ESBNSNotificationType"> <xsd:sequence> <xsd:element name="SubscriberID" type="xsd:string"/> <xsd:element name="ServProv" type="xsd:string" minOccurs="0"/> <xsd:element name="ProfileID" type="xsd:string" minOccurs="0"/> <xsd:element name="VoicePlan" type="xsd:string" minOccurs="0"/> <xsd:element name="DateTime" type="xsd:string" minOccurs="0"/> <xsd:element name="ServiceLabel" type="xsd:string" minOccurs="0"/> <xsd:element name="BonusCode" type="xsd:string" minOccurs="0"/> <xsd:element name="ReasonCode" type="xsd:string"/> <xsd:element name="RechargeType" type="xsd:string" minOccurs="0"/> </xsd:sequence> </xsd:complexType> <xsd:element name="ESBNSNotificationResp" type="BNS_schema:ESBNSNotificationRespType"/> <xsd:complexType name="ESBNSNotificationRespType"> <xsd:sequence> <xsd:element name="StatusCode" type="xsd:string"/> </xsd:sequence> </xsd:complexType> </xsd:schema>